<html ng-app>
<head>
  <script src="js/angular.js"></script>
  </head>

<body>
<div   ng-init="x=100;y=2000;z=x+y;">
       {{z}}    <!-- Binding expression-->
<div>
<hr/>
<br/>
   <div   ng-init="eid=101;ename='Alex';salary=12000.00;">
   <p>   EID: {{eid}} </p>
   <p>   Name: {{ename}} </p>
   <p>   Salary: {{salary}} </p>
   <div>
   <hr/>
   <!-- JSON (JavaScript Object Notation)-->
  <div   ng-init="student={'sid':1001,'name':'Alex','marks':120};">
   <p>   StudentID: {{student.sid}} </p>
   <p>   Name: {{student.name}} </p>
   <p>   Marks: {{student.marks}} </p>
   </div>
   
   <hr/>
   
   <h1>Student Details:</h1>
   <br/>
   <div   ng-init="students=[{'sid':1001,'name':'Amit','marks':81.999},
                            {'sid':1002,'name':'Babita','marks':91.565},
							{'sid':1003,'name':'Chandan','marks':77.4545},
							{'sid':1004,'name':'Dharmendra','marks':87.454},
							{'sid':1005,'name':'Eshwar','marks':65.6766}];">
   
   Search: <input type="text" ng-model="searchdata" />
   Hide Marks <input type="checkbox" ng-model="marks" />  <!--  Select: marks=true  Deselect: marks=false -->
   <table border="1">
   <tr><th>SID</th><th>Name</th><th ng-hide="marks"> Marks</th></tr>
     
   <tr  ng-repeat='stud in students | filter:searchdata'>
      <td>{{stud.sid  }}</td>
	  <td>{{stud.name | uppercase }}</td>
	  <td ng-hide="marks">{{stud.marks | number:2 }}</td>
   </tr>
   </table>
   
   
   
   </div>
   
 </body>
</html>



